:root {
  --gsi-aqua: #83cfcb;
  --gsi-light-dark-blue: #83b3cb;
  --gsi-blue: #0081c6;
  --gsi-dark-blue: #003346;
  --gsi-orange: #faa63e;
  --gsi-green: #609491;
  --gsi-light-blue: #3ebbfa;
  --gsi-flat-blue: #608294;
  --gsi-brown: #7a6d5c;
  --gsi-grey: #526160;
  --gsi-dark-grey: #263332;
  --width: 10vw;
  --full-width: 10vw;
  --angle: -4.3deg;
  --magic-number: 0.1;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/*

MAIN CSS Stylesheet
Author: Tat Chow
Date: Jan 11, 2024

*/
/*
Table of Contents

1.0 - Common Selectors
2.0 - Buttons
3.0 - Footer
4.0 - Hero
5.0 - Video Modal
6.0 - Tabs
7.0 - Slick Slider
8.0 - Tab Navigation
9.0 - Accordion
10.0 - Form
11.0 - Table
*/
/* 1.0 - Common Selectors */
html {
  overflow-x: hidden;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.row-fluid [class*=span] {
  min-height: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 600px) {
  div[data-hs-cos-field=title_rich_text] div {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  div[data-hs-cos-type=inline_rich_text] div {
    padding: 0 !important;
  }
}

body {
  overflow-x: hidden;
}

body, a {
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: .6px;
  color: var(--gsi-dark-blue);
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: opacity .2s;
}
a:hover {
  opacity: .5;
}

.disclaimer {
  font-size: 14px;
}

h1 {
  font-family: "Barlow";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Barlow";
  font-style: normal;
  line-height: normal;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}
h2 span {
  font-size: 30px;
  display: inline-block;
  margin-top: 30px;
}

h3 {
  font-family: "Barlow";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}

h4 {
  font-family: "Barlow";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}

h5 {
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}

h2, h3, h4, h5 {
  padding-bottom: 0px;
}
@media screen and (max-width: 600px) {
  h2, h3, h4, h5 {
    padding: 0 !important;
    line-height: 1.1;
  }
}

.bold {
  font-weight: 700;
}

.center {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.center-bg {
  transform: translate(50%, 0);
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

ul.list-normal {
  margin-top: 20px;
  padding: 0 0 0 20px;
}
ul.list-normal li {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
ul.checkmark li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-weight: 600;
  color: #83B3CB;
}

.image-container.image-hover img {
  transition: .5s;
}
.image-container.image-hover img:hover {
  scale: 1.1;
}
.image-container img {
  border-radius: 5px;
}

.gsi-circle {
  position: absolute;
  height: 117px;
  width: 117px;
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/icon_gsi_circle-min.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: relative;
  z-index: 1;
}
section:not(.section-divider) {
  padding: 100px 0;
}
section.padding-none {
  padding: 0;
}
section.padding-top {
  padding-top: 50px;
}
section.padding-bottom {
  padding-bottom: 50px;
}
section.padding-top-none {
  padding-top: 0;
}
section.padding-bottom-none {
  padding-bottom: 0;
}
section.padding-top-extra {
  padding-top: 200px !important;
}
@media screen and (max-width: 767px) {
  section.padding-top-extra {
    padding-top: 50px !important;
  }
}
section.padding-extra {
  padding: 200px !important;
}
@media screen and (max-width: 767px) {
  section.padding-extra {
    padding: 50px 15px !important;
  }
}
section.padding-bottom-extra {
  padding-bottom: 250px;
}
@media screen and (max-width: 767px) {
  section.padding-bottom-extra {
    padding-bottom: 50px;
  }
}
section.margin-top-extra {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  section.margin-top-extra {
    padding-top: 0px;
  }
}
section .description p {
  padding-top: 30px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
}
section.section-hero {
  overflow: hidden;
  height: 850px;
  padding-top: 200px;
}
@media screen and (max-width: 600px) {
  section.section-hero {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
section.section-divider .divider {
  background: linear-gradient(90deg, #83B3CB 13.85%, #83CFCB 64.23%, #FFFFFF 110.73%);
  width: 100%;
  height: 12px;
}
section.section-divider .divider.reverse {
  transform: rotate(180deg);
}

/* 2.0 - Buttons */
a.btn {
  border-radius: 10px;
  padding: 15px 40px;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .2s;
  border: 0;
}
@media screen and (max-width: 600px) {
  a.btn {
    font-size: 16px;
    line-height: 1;
  }
}
a.btn:hover {
  opacity: .8 !important;
}
a.btn-blue {
  background-color: var(--gsi-light-dark-blue);
  color: #FFF;
}
a.btn-blue:hover {
  background-color: var(--gsi-light-dark-blue);
}
a.btn-white {
  background-color: #FFF;
  color: var(--gsi-light-dark-blue) !important;
}
a.btn-white:hover {
  background-color: #FFF;
}
a.btn-dark-blue {
  background-color: var(--gsi-dark-blue);
  border: 1px solid var(--gsi-light-dark-blue);
  color: #FFF;
}
a.btn-dark-blue:hover {
  background-color: #FFF;
  color: var(--gsi-dark-blue);
  border: 1px solid var(--gsi-light-dark-blue);
}

.btn-primary.btn-aqua {
  background-color: var(--gsi-aqua);
}

/* 3.0 Footer */
section.section-footer-cta-form {
  background-color: var(--gsi-aqua);
}
section.section-footer-cta-form h2, section.section-footer-cta-form h3, section.section-footer-cta-form h4 {
  padding-bottom: 0;
}
section.section-footer-cta-form h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  /* 125% */
  letter-spacing: 1.2px;
}
section.section-footer-cta-form .form-container {
  margin-top: 50px;
}
section.section-footer-cta-form .form-container form {
  display: flex;
  flex-wrap: wrap;
}
section.section-footer-cta-form .form-container form input, section.section-footer-cta-form .form-container form select {
  padding: 5px 15px;
}
section.section-footer-cta-form .form-container form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: #fff;
  background-image: url("https://www.els.edu/hubfs/ELS/Website%20v2/template-resources/images/icon/icon_caret_down-min.png");
  background-size: 12px 6px;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px);
}
section.section-footer-cta-form .form-container form label.hs-error-msg {
  color: var(--gsi-dark-blue);
  font-size: 16px;
}
section.section-footer-cta-form .form-container form a {
  display: inline;
  text-decoration: underline;
}
section.section-footer-cta-form .form-container form .hs-form-field {
  padding: 15px;
}
section.section-footer-cta-form .form-container form .hs-input {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 10px;
}
section.section-footer-cta-form .form-container form .hs-submit {
  margin: 50px auto;
}
section.section-footer-cta-form .form-container form .hs-submit input {
  border-radius: 10px;
  background: var(--gsi-dark-blue);
  color: #FFF;
  font-style: normal;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  border: 0;
  padding: 5px 30px;
  transition: all .2s;
  border: 0;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.15em;
  width: 160px;
}
section.section-footer-cta-form .form-container form .hs-submit input:hover {
  opacity: .8;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox, section.section-footer-cta-form .form-container form .legal-consent-container {
  width: 100%;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox input[type=checkbox], section.section-footer-cta-form .form-container form .legal-consent-container input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  position: relative;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox label.hs-form-booleancheckbox-display, section.section-footer-cta-form .form-container form .legal-consent-container label.hs-form-booleancheckbox-display {
  display: flex;
  align-items: center;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox label.hs-form-booleancheckbox-display span, section.section-footer-cta-form .form-container form .legal-consent-container label.hs-form-booleancheckbox-display span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 158.333% */
  letter-spacing: 0.36px;
  margin-left: 10px;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox label.hs-form-booleancheckbox-display span:not(.hs-form-required), section.section-footer-cta-form .form-container form .legal-consent-container label.hs-form-booleancheckbox-display span:not(.hs-form-required) {
  top: -35px;
  position: relative;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox label.hs-form-booleancheckbox-display p, section.section-footer-cta-form .form-container form .legal-consent-container label.hs-form-booleancheckbox-display p {
  display: inline;
  margin: 0;
  font-family: Barlow;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: left;
}
section.section-footer-cta-form .form-container form .hs-fieldtype-booleancheckbox label.hs-form-booleancheckbox-display p a, section.section-footer-cta-form .form-container form .legal-consent-container label.hs-form-booleancheckbox-display p a {
  font-size: 12px;
}
section.section-footer {
  padding: 100px 0 100px;
  background-color: var(--gsi-dark-blue);
  position: relative;
  z-index: 1;
}
section.section-footer .container {
  background-color: transparent;
  z-index: 3;
}
@media (max-width: 992.97px) {
  section.section-footer .container > .row {
    flex-direction: column-reverse;
  }
}
section.section-footer .container .row-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
section.section-footer .container .row-logo .logo-pad {
  padding-top: 10px;
}
section.section-footer .container .footnote {
  font-size: 12px;
  color: #FFF;
}
section.section-footer .container .footnote p {
  font-size: 12px;
  color: #FFF;
  line-height: 14px;
}
section.section-footer .container .divider-row {
  padding: 30px 0;
}
section.section-footer .container .divider-row .divider {
  background: linear-gradient(90deg, #83B3CB 13.85%, #83CFCB 39.75%, #FFFFFF 110.73%);
  width: 100%;
  height: 3px;
  border-radius: 10px;
  transform: rotate(180deg);
}
section.section-footer .container ul.footnote-links {
  align-items: stretch;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-top: -10px;
  width: 50%;
}
section.section-footer .container ul.footnote-links li {
  display: block;
  flex: 0 1 auto;
}
section.section-footer .container ul li {
  padding: 0px 0 5px;
}
section.section-footer .container .right-container {
  padding-left: 10%;
  padding-top: 10px;
}
section.section-footer .container .right-container ul.footer-dropdown-item {
  margin-top: 20px;
}
section.section-footer .container .left-container .logo-container {
  width: 100%;
}
section.section-footer .container .left-container .logo-container img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(7%) saturate(1522%) hue-rotate(156deg) brightness(93%) contrast(95%);
}
@media (max-width: 992.97px) {
  section.section-footer .container .left-container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-bottom: 100px;
  }
}
section.section-footer .container .left-container h3 {
  margin-top: 30px;
}
section.section-footer .container .left-container .social-media-container {
  margin-top: 50px;
}
section.section-footer .container .left-container .social-media-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.section-footer .container .left-container .social-media-container ul li {
  width: 35px;
  height: 35px;
}
section.section-footer .container .left-container .social-media-container ul li svg {
  fill: #FFF;
  transition: all .3s;
}
section.section-footer .container .left-container .social-media-container ul li:hover svg {
  fill: var(--gsi-dark-blue);
}
section.section-footer .container h3 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
}
section.section-footer .container h4 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 200% */
  letter-spacing: .1em;
  padding-bottom: 0;
}
section.section-footer .container a {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.45px;
  transition: color .3s;
}
section.section-footer .container a:hover {
  color: var(--gsi-aqua);
  opacity: 1;
}
section.section-footer .container .sub-footer {
  margin-top: 50px;
}
section.section-footer .container .sub-footer .border-top {
  padding-top: 15px;
}
section.section-footer .container .sub-footer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  section.section-footer .container .sub-footer ul {
    display: block;
  }
}
section.section-footer .container .sub-footer ul li {
  padding: 10px 20px;
}
section.section-footer .container .sub-footer .footer-copyright {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 200% */
  letter-spacing: 0.45px;
}
section .footer-dropdown input {
  display: none;
}
section .footer-dropdown label {
  display: block;
  margin-bottom: 0;
}
@media (max-width: 991.97px) {
  section .right-container {
    margin-bottom: 60px !important;
  }
  section .right-container .col {
    flex-basis: auto;
  }
  section .right-container .col h4 {
    font-size: 20px;
  }
  section .right-container .row-logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  section .right-container .social-media-container {
    padding-left: 0px !important;
    text-align: center;
  }
  section .right-container .logo-image img {
    display: block;
    margin: 0 auto 50px;
    width: 250px !important;
  }
  section .right-container .container .col-md-2 {
    width: 100%;
  }
  section .right-container .border-top {
    border-top: 0 !important;
  }
  section .right-container .footer-dropdown {
    border-bottom: 1px solid #FFF;
    padding: 0;
  }
  section .right-container .footer-dropdown label {
    padding: 33px 0 33px 30px;
    width: 100%;
  }
  section .right-container .footer-dropdown label h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  section .right-container .footer-dropdown label h4:after {
    float: right;
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-size: 16px;
    font-weight: 600;
    margin-right: 40px;
    color: var(--gsi-aqua);
    width: 30px;
    height: 30px;
    background-color: #e5edfd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    padding: 12px;
  }
  section .right-container .footer-dropdown ul.footer-dropdown-item {
    padding: 0 0 30px 30px;
  }
  section .right-container .footer-dropdown ul.footer-dropdown-item a {
    font-size: 18px;
  }
  section .right-container .footer-dropdown input:checked ~ ul.footer-dropdown-item {
    display: block;
    padding-left: 50px;
  }
  section .right-container .footer-dropdown input:checked ~ label h5:after {
    transform: rotate(180deg);
  }
  section .right-container .footer-dropdown ul.footer-dropdown-item {
    display: none;
  }
}

/* 4.0 Hero */
html[lang=ja] .down-move {
  top: 24vw;
}
html[lang=ja] .down-move .txt {
  transform: none;
}
html[lang=ja] .down-move .arrow-down {
  bottom: -40px;
}
html[lang=vi] .tool-box .video-play, html[lang=fr] .tool-box .video-play {
  width: 365px;
}
html[lang=pt-br] .tool-box .video-play, html[lang=es] .tool-box .video-play, html[lang=ar] .tool-box .video-play {
  width: 320px;
}

html[lang=ar] .section-hero .hero-image-container .hero-image {
  bottom: 10px;
}
html[lang=ar] .section-hero .hero-sub .full-width-row .container-left-bg {
  right: -1500px;
  height: 100px;
  top: 10px;
}

.section-hero h1, .section-hero h3, .section-hero h4 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}
.section-hero h4 {
  font-size: 25px;
}
.section-hero .container {
  padding-top: 100px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .section-hero .container {
    padding-top: 100px;
  }
}
.section-hero.bg-hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-hero .hero-image-container .hero-image {
  position: absolute;
}
@media screen and (max-width: 1399.9px) {
  .section-hero .hero-image-container .hero-image {
    bottom: 0;
    right: 0;
    position: relative;
  }
}
@media screen and (min-width: 1400px) {
  .section-hero .hero-image-container .hero-image {
    top: unset !important;
    bottom: 60px;
  }
}
@media screen and (min-width: 2100px) {
  .section-hero .hero-image-container .hero-image {
    bottom: 0;
    top: unset !important;
  }
}
@media screen and (max-width: 600px) {
  .section-hero .hero-image-container .hero-image {
    position: relative;
    bottom: -25px;
  }
}
.section-hero .hero-sub {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.section-hero .hero-sub .full-width-row {
  position: relative;
}
.section-hero .hero-sub .full-width-row .container-left-bg {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: -1500px;
}
.section-hero .down-move {
  width: 17.525px;
  flex-shrink: 0;
  position: absolute;
  left: 40%;
  top: 23vw;
  cursor: pointer;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .section-hero .down-move {
    display: none;
  }
}
@media screen and (min-width: 2000px) {
  .section-hero .down-move {
    top: 20vw;
  }
}
@media screen and (min-width: 2500px) {
  .section-hero .down-move {
    top: 19vw;
  }
}
@media screen and (min-width: 2900px) {
  .section-hero .down-move {
    top: 17vw;
  }
}
@media screen and (min-width: 3300px) {
  .section-hero .down-move {
    top: 15vw;
  }
}
.section-hero .down-move .txt {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.45px;
  transform: rotate(90deg);
}
.section-hero .down-move .arrow-down {
  background-image: url("https://www.els.edu/hubfs/ELS/Website%20v2/template-resources/images/icon/icon_arrow-down.svg");
  width: 17.525px;
  height: 30.927px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
  position: absolute;
  bottom: -100px;
  left: -1px;
}

/* 5.0 - Tabs */
.section-tabs .row-tab {
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  .section-tabs .nav-pills {
    display: block;
  }
}
.section-tabs .nav-pills button {
  font-family: Barlow;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: var(--gsi-aqua);
  color: #FFF;
  margin-right: 15px;
  padding: 10px 20px 20px;
  position: relative;
}
@media only screen and (max-width: 1399.7px) {
  .section-tabs .nav-pills button {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1199.7px) {
  .section-tabs .nav-pills button {
    font-size: 23px;
  }
}
@media only screen and (max-width: 767.1px) {
  .section-tabs .nav-pills button {
    width: 100%;
    font-size: 20px;
  }
}
.section-tabs .nav-pills button.active {
  color: var(--gsi-dark-blue);
  background-color: #FFF;
  border: 1px solid var(--gsi-aqua);
  z-index: 3;
}
.section-tabs .tab-content {
  background-color: var(--gsi-dark-blue);
  padding: 100px 0 50px;
  z-index: 2;
  position: relative;
  top: -10px;
  color: #FFF;
  position: relative;
}
.section-tabs .tab-content:before {
  content: '';
  background-color: var(--gsi-dark-blue);
  width: 300%;
  height: 100%;
  position: absolute;
  left: -1200px;
  top: 0;
  z-index: -1;
}
@media only screen and (max-width: 767.1px) {
  .section-tabs .tab-content:before {
    left: -500px;
  }
}
.section-tabs .tab-content h3, .section-tabs .tab-content h4, .section-tabs .tab-content h5 {
  color: var(--gsi-aqua);
}
.section-tabs .tab-content p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin: 30px 0;
}
.section-tabs .tab-content .right-column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 50px;
}
@media only screen and (min-width: 767.1px) {
  .section-tabs .tab-content .right-column.divider:before {
    content: '';
    background: linear-gradient(180deg, #83B3CB 13.85%, #83CFCB 39.75%, #FFFFFF 110.73%);
    position: absolute;
    display: block;
    left: 0;
    width: 5px;
    height: 90%;
    border-radius: 10px;
  }
}

/* 10.0 - Form */
@media only screen and (min-width: 1200px) {
  .section-form.section-newsletter input[name="email"] {
    width: 64% !important;
  }
}
@media only screen and (max-width: 480px) {
  .section-form.section-newsletter .hs-submit {
    padding: 5px 15px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-form.section-newsletter .hs-submit {
    position: absolute;
    right: 50px;
    bottom: 140px;
  }
}
@media only screen and (max-width: 480px) {
  .section-form.section-newsletter .hs-submit input[type="submit"] {
    width: 100%;
  }
}
.section-form.section-newsletter .form-container form .hs_error_rollup {
  display: none;
}
.section-form.section-newsletter .form-container form .hs-error-msgs {
  position: absolute;
  left: 50px;
}
.section-form.section-newsletter .form-container form .hs-input {
  position: relative;
  top: -50px;
}

/* 11.0 Table */
.section-course-table .title-label-container {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .section-course-table .title-label-container {
    display: none;
  }
}
.section-course-table .title-label-container .table-row-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
}
.section-course-table .title-label-container .table-row-label .td-label .label-container {
  font-family: Barlow;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2em;
  transform: rotate(-90deg);
  padding: 10px 100px;
  width: 100%;
  white-space: nowrap;
  border-radius: 5px;
  color: #FFF;
  right: -29px;
  position: relative;
}
.section-course-table .title-label-container .table-row-label .td-label:first-child .label-container {
  background: var(--gsi-aqua);
}
.section-course-table .title-label-container .table-row-label .td-label:last-child .label-container {
  background: var(--gsi-light-dark-blue);
}
.section-course-table .accordion .accordion-item {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
}
.section-course-table .accordion .accordion-item .accordion-body {
  padding-top: 0;
}
.section-course-table .accordion .accordion-item .accordion-body p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}
.section-course-table .accordion .accordion-item .accordion-button {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  background-color: transparent;
  color: var(--gsi-dark-blue);
  padding-bottom: 0;
  display: flex;
  align-items: baseline;
  line-height: 1.3;
}
.section-course-table .accordion .accordion-item .accordion-button span {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
}
.section-course-table .accordion .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.section-course-table .accordion .accordion-item .accordion-button:after {
  background-image: none;
  content: '';
  font-family: "Font Awesome 5 Free";
  content: '\f067';
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: var(--gsi-dark-blue);
  color: #FFF;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.section-course-table .accordion .accordion-item .accordion-button:not(.collapsed):after {
  content: '\f068';
  background-color: #FFF;
  color: var(--gsi-dark-blue);
}
.section-course-table .row-label {
  padding: 15px;
  font-family: Barlow;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFF;
  width: 100%;
  display: block;
  border-radius: 5px;
}
@media only screen and (min-width: 767.1px) {
  .section-course-table .row-label {
    display: none;
  }
}
.section-course-table .table-row {
  margin-top: 100px;
}
.section-course-table .table-container {
  padding-left: 2px;
  padding-right: 2px;
}
.section-course-table .table-container table {
  width: 100%;
}
.section-course-table .table-container table .title-row {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-course-table .table-container table .title-row th {
  font-family: Barlow;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFF;
  padding: 15px;
  border-radius: 5px;
}
.section-course-table .table-container table .sub-title-row {
  margin-bottom: 4px;
  display: block;
}
.section-course-table .table-container table .sub-title-row td {
  border-radius: 5px;
  padding: 15px;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background: #d9d9d9;
  display: block;
}
.section-course-table .table-container table .description-row td {
  padding: 15px 15px 100px 15px;
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 4px;
  overflow: hidden;
  border: 1px solid #83cfcb;
}
.section-course-table .table-container table .description-row:nth-child(3) .row-label {
  background-color: var(--gsi-aqua);
}
.section-course-table .table-container table .description-row:nth-child(4) .row-label {
  background-color: var(--gsi-light-dark-blue);
}
.section-course-table .table-container:first-child table .title-row {
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/icon_first_step_arrow-min.png);
}
.section-course-table .table-container:not(:first-child):not(:last-child) table .title-row {
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/icon_second_step_arrow-min.png);
}
.section-course-table .table-container:last-child table .title-row {
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/icon_last_step_arrow-min.png);
}
