:root {
  --gsi-aqua: #83cfcb;
  --gsi-light-dark-blue: #83b3cb;
  --gsi-blue: #0081c6;
  --gsi-dark-blue: #003346;
  --gsi-orange: #faa63e;
  --gsi-green: #609491;
  --gsi-light-blue: #3ebbfa;
  --gsi-flat-blue: #608294;
  --gsi-brown: #7a6d5c;
  --gsi-grey: #526160;
  --gsi-dark-grey: #263332;
  --width: 10vw;
  --full-width: 10vw;
  --angle: -4.3deg;
  --magic-number: 0.1;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}

/*

ILSC Top Navigation Language Programs CSS Stylesheet
Author: Tat Chow
Date: May 19, 2020

*/
/*
Table of Contents


Header Menu/Top Navigation


*/
/*Main Group Top Nav*/
*:first-child + html .navbar-nav {
  zoom: 1;
}

.fixed-position {
  position: fixed !important;
}

header {
  background: rgba(131, 179, 203, 0.85);
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(90deg, #83B3CB 13.85%, #83CFCB 64.23%, #D9D9D9 110.73%);
  border-image-slice: 1;
}
header .collapse:not(.show) {
  display: none !important;
}
header .dropdown-menu.show {
  display: flex !important;
  align-items: center;
}
header .header-cta-container {
  display: none;
}
header .header-cta-container .btn {
  width: 200px;
  margin: 15px 0;
}
header .mobile-header-nav {
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 100%;
  border-top: 0;
  box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
}
header .mobile-header-nav ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 60px;
  width: 100%;
}
header .mobile-header-nav ul li {
  display: inline;
}
header .mobile-header-nav ul li a {
  color: var(--gsi-dark-blue);
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.25rem;
  font-weight: 700;
}
header .mobile-header-nav ul li a:hover {
  color: #FF8B35;
}
header .hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 35px 25px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
header .hamburger-menu:hover {
  cursor: pointer;
}
header .hamburger-menu .menu-item {
  background: #FFFFFF;
  display: block;
  height: 3px;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
header .hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}
header .hamburger-menu.open .menu-item:first-child {
  transform: rotate(45deg);
  transform-origin: 10px;
}
header .hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
header .hamburger-menu.open .menu-item:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 8px;
}

header.top-nav.sticky {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
  -moz-box-shadow: -3px 8px 13px 0px rgba(189, 189, 189, 0.57);
}
header.top-nav.sticky a.navbar-brand img {
  filter: none !important;
  width: 200px !important;
}
header.top-nav.sticky .nav-sub {
  display: none !important;
}
header.top-nav.sticky .cta-nav {
  display: none !important;
}
header.top-nav.sticky .navbar {
  padding-bottom: 0;
}
header.top-nav.sticky .navbar .navbar-nav .nav-link {
  color: var(--gsi-dark-blue) !important;
}
header.top-nav.sticky #magic-line {
  background-color: var(--gsi-dark-blue) !important;
  bottom: 15px !important;
}
header.top-nav.sticky .dropdown.search, header.top-nav.sticky .dropdown.language-dropdown {
  display: none !important;
}
header.top-nav.sticky .dropdown .dropdown-menu {
  padding-top: 50px !important;
}

header.top-nav .navbar {
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
}
header.top-nav .navbar .container {
  margin-left: auto;
  margin-right: auto;
  position: unset;
}
header.top-nav .navbar .cta-nav {
  display: flex;
  position: absolute;
  transition: .5s;
  z-index: 9999;
}
header.top-nav .navbar .cta-nav .cta-nav-container {
  display: flex;
  justify-content: space-evenly;
}
header.top-nav .navbar .cta-nav .cta-nav-container .cta-btn-container:not(:last-child) {
  margin-right: 5px;
}
header.top-nav .navbar .cta-nav .cta-nav-container .cta-btn-container:not(:first-child) {
  margin-left: 5px;
}
header.top-nav .navbar .cta-nav .cta-nav-container .cta-btn-container .btn.btn-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 15px 15px 20px 70px;
}
header.top-nav .navbar .cta-nav .cta-nav-container .cta-btn-container .btn.btn-bg.btn-blue-bg {
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/btn_blue-min.png);
}
header.top-nav .navbar .cta-nav .cta-nav-container .cta-btn-container .btn.btn-bg.btn-white-bg {
  background-image: url(https://5020112.fs1.hubspotusercontent-na1.net/hubfs/5020112/Website/Greystone_Institute/template-resources/images/background/btn_white-min.png);
}
header.top-nav .navbar .main-nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .main-nav {
    display: inline-block;
    width: 100%;
  }
}
header.top-nav .navbar .main-nav .nav-main {
  width: 100%;
  padding: 0 20px 0 30px;
  display: flex;
  justify-content: right;
}
header.top-nav .navbar .main-nav .nav-main ul {
  width: 95%;
}
header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu {
  width: fit-content;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 992px) {
  header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu {
    position: relative;
    width: 100%;
    left: 0 !important;
    height: 200px;
    overflow-y: scroll;
    top: 0 !important;
    display: none;
  }
  header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu:before {
    content: '';
    position: absolute;
    right: 20px;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 600;
    content: "\f063";
    bottom: 10px;
  }
}
header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu li {
  padding: 10px;
}
header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu li a {
  color: #FFF;
}
header.top-nav .navbar .main-nav .nav-main ul .language-dropdown ul.dropdown-menu li:hover a {
  color: var(--gsi-aqua);
  opacity: 1;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .main-nav .nav-main {
    padding: 0;
  }
}
header.top-nav .navbar .main-nav .nav-main .link-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
header.top-nav .navbar .main-nav .nav-main .link-item:not(.link-inline) .link {
  padding-top: 20px;
  text-align: center;
}
header.top-nav .navbar .main-nav .nav-main .link-item.link-inline {
  flex-direction: row;
}
header.top-nav .navbar .main-nav .nav-main .link-item.link-inline .link {
  margin-left: 25px;
}
header.top-nav .navbar .main-nav .nav-main .link-item:hover .link {
  color: var(--gsi-aqua);
  border-color: var(--gsi-aqua);
}
header.top-nav .navbar .main-nav .nav-main .link-item:hover .menu-image-box-container {
  background-color: var(--gsi-aqua);
}
header.top-nav .navbar .main-nav .nav-main .link-item:hover .menu-image-box-container .image-container {
  filter: none;
}
header.top-nav .navbar .main-nav .nav-main .link-item .link {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  transition: color .2s;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gsi-light-dark-blue);
}
header.top-nav .navbar .main-nav .nav-main .link-item .menu-image-box-container {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  position: relative;
  background-color: #FFF;
  transition: background-color .2s;
}
header.top-nav .navbar .main-nav .nav-main .link-item .menu-image-box-container .image-container {
  position: absolute;
  top: 0;
  left: 5px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter .2s;
  filter: grayscale(100%);
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .main-nav .nav-main .link-item .menu-image-box-container {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  header.top-nav .navbar .navbar-collapse {
    display: block !important;
  }
}
header.top-nav .navbar .nav-sub {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .nav-sub {
    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
  }
}
header.top-nav .navbar .nav-sub .sub-link-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 0 10px 350px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
  border-radius: 3px;
  padding-right: 20px;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .nav-sub .sub-link-container {
    clip-path: none;
    padding: 0;
  }
}
header.top-nav .navbar .nav-sub .sub-link-container a.nav-link {
  font-size: 15px;
  line-height: 18px;
}
header.top-nav .navbar .nav-sub .sub-link-container a.nav-link:hover {
  color: var(--gsi-light-dark-blue);
}
header.top-nav .navbar .nav-sub .sub-link-container .phone-item a {
  display: flex;
  align-items: center;
}
header.top-nav .navbar .nav-sub .sub-link-container .phone-item a:before {
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 600;
  content: "\f095";
  display: inline-block;
  margin-right: 15px;
  transform: scaleX(-1);
}
header.top-nav .navbar .nav-sub .btn-download {
  padding-right: 30px;
}
header.top-nav .navbar .nav-sub .btn-download a {
  background-color: #FFF;
  border-radius: 15px;
  padding: 2px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all .1s;
  padding: 10px 15px;
  letter-spacing: 3px;
  color: var(--gsi-flat-blue);
}
header.top-nav .navbar .nav-sub .btn-download a:hover {
  top: 1px;
  opacity: 1;
}
header.top-nav .navbar .nav-sub .btn-download a .title {
  color: var(--gsi-dark-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
header.top-nav .navbar .nav-sub .btn-download a .text {
  color: #6D6E71;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
}
header.top-nav .navbar .navbar-nav {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .navbar-nav {
    display: inline-block;
    width: 100%;
    overflow: inherit;
  }
}
header.top-nav .navbar .navbar-nav.sub-nav {
  justify-content: end;
  align-items: center;
}
header.top-nav .navbar .navbar-nav.sub-nav li:not(:last-child) {
  padding: 10px 30px;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .navbar-nav.sub-nav li:not(:last-child) {
    padding: 5px 0;
  }
}
header.top-nav .navbar .navbar-nav.sub-nav li:last-child {
  padding: 10px 0 10px 30px;
}
header.top-nav .navbar .navbar-nav .nav-item.show a.nav-link {
  color: #FFF;
}
header.top-nav .navbar .navbar-nav .nav-link {
  color: var(--gsi-dark-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}
@media (min-width: 992px) and (max-width: 1200px) {
  header.top-nav .navbar .navbar-nav .nav-link {
    font-size: 15px;
  }
}
header.top-nav .navbar .navbar-nav .nav-link:hover {
  color: #FFF;
  opacity: 1;
}
header.top-nav .navbar a.navbar-brand {
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  header.top-nav .navbar a.navbar-brand {
    display: none;
  }
}
header.top-nav .navbar a.navbar-brand.mobile-brand {
  display: none;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar a.navbar-brand.mobile-brand {
    display: block;
  }
}
header.top-nav .navbar a.navbar-brand.mobile-brand.mobile-show {
  display: block;
}
header.top-nav .navbar a.navbar-brand img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(1806%) hue-rotate(150deg) brightness(98%) contrast(102%);
}
header.top-nav .navbar .menu-hide #magic-line {
  transition: 0s !important;
}
header.top-nav .navbar #magic-line {
  bottom: 35px;
  margin-left: 7px;
  position: absolute;
  left: 0;
  width: 125px;
  height: 3px;
  background-color: #FFF;
  opacity: 0;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1), right 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
header.top-nav .navbar .magic-active {
  opacity: 1 !important;
}
header.top-nav .navbar ul .navbar-nav:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
header.top-nav .navbar .dropdown {
  flex: 0 1 auto;
  position: unset;
}
header.top-nav .navbar .dropdown.language-dropdown [data-bs-toggle="dropdown"]:after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 600;
  content: "\f078";
  margin-top: 5px;
  margin-left: 5px;
  transition: all .5s;
}
header.top-nav .navbar .dropdown.language-dropdown a.dropdown-toggle {
  display: flex;
  align-items: center;
}
header.top-nav .navbar .dropdown.language-dropdown a.dropdown-toggle span.icon-globe {
  margin-right: 7px;
}
header.top-nav .navbar .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
header.top-nav .navbar .dropdown .dropdown-toggle:after {
  border: none;
}
header.top-nav .navbar .dropdown .dropdown-menu {
  background-color: var(--gsi-dark-blue);
  border-radius: 0;
  display: unset;
  padding: 50px 0 30px;
  left: 0;
  top: 102%;
  transition: none;
  visibility: hidden;
  width: 100%;
  box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  -webkit-box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  -moz-box-shadow: -3px 3px 13px 4px rgba(189, 189, 189, 0.57);
  min-height: 250px;
}
header.top-nav .navbar .dropdown .dropdown-menu h4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .5px;
}
header.top-nav .navbar .dropdown .dropdown-menu h5 {
  font-size: 1rem;
  font-weight: 700;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .sub-menu-title {
  margin-bottom: 20px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .sub-menu-title h4 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
}
@media (max-width: 767px) {
  header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .sub-menu-title h4 {
    font-size: 18px;
  }
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .row {
  opacity: 0;
  transition: opacity .5s, margin-left .5s;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .vertical-divider {
  border-left: 1px solid var(--gsi-light-dark-blue);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .button-row {
  margin-top: 30px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image {
  vertical-align: top;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image img {
  width: 75px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image.link-image-sm img {
  width: 35px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-image.link-image-lg img {
  width: 100%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col-md-4 {
  padding: 0 60px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container {
  position: relative;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .btn-container {
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .btn-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .btn-container .btn {
    margin-bottom: 15px;
  }
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box {
  display: flex;
  flex-direction: column;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .sub-menu-title {
  margin-bottom: 18px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .sub-menu-title h4 {
  font-size: 30px;
  color: #FFF;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 992.97px) {
  header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .sub-menu-title {
    margin-bottom: 0;
  }
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .menu-image-box-container div.image-container {
  width: 100%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .menu-image-box-container div.image-container img {
  width: 100%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box .btn-container a:not(:last-child) {
  margin-right: 50px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box ul {
  width: 90%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box ul.links li {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gsi-light-dark-blue);
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box ul.links li a {
  font-size: 16px;
  color: #FFF;
  transition: .2s;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .column-box ul.links li a:hover {
  color: var(--gsi-aqua);
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .menu-image-box-container {
  position: relative;
  overflow: hidden;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container li {
  margin-top: 10px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container a {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #FFF;
}
@media (max-width: 767px) {
  header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container a {
    font-size: 16px;
  }
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container a:hover {
  color: var(--gsi-aqua);
  opacity: 1;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image {
  vertical-align: top;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image img {
  width: 35px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container .link-image.link-image-sm img {
  width: 35px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col {
  padding: 0 5px 0 50px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container.col:first-child {
  padding: 0 5px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container {
  margin: 0 auto;
  width: 90%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container h4 {
  color: #FFF;
  margin-bottom: 3rem;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .search-group {
  display: flex;
  align-items: center;
  width: 100%;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container input {
  border-left: 0;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--gsi-dark-blue);
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container input:focus {
  outline: 1px solid #FFF;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search .btn {
  display: inline-block;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search .btn i {
  font-size: 32px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.study-content .vertical-divider {
  right: 20px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .col-md-6 {
  padding: 0 60px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .vertical-divider {
  right: 40px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.login-content .btn-black-outline {
  margin-bottom: 20px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.accom-content .col-md-6 {
  padding: 0 60px;
}
header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content.accom-content .vertical-divider {
  right: 0;
}
header.top-nav .navbar .dropdown .dropdown-menu ul {
  padding-left: 0;
}
header.top-nav .navbar .dropdown .dropdown-menu ul li {
  list-style-type: none;
}
header.top-nav .navbar .dropdown .dropdown-menu ul li a {
  padding-left: 0;
}
header.top-nav .navbar .dropdown .dropdown-menu ul li a.dropdown-item {
  color: var(--gsi-dark-blue);
  font-weight: 400;
}
header.top-nav .navbar .dropdown .dropdown-menu ul li a.dropdown-item:hover {
  background-color: unset;
  color: #FF8B35;
  text-decoration: none;
}
header.top-nav .navbar .dropdown .dropdown-menu ul li.dropdown-item {
  opacity: 0;
  margin-left: -20px;
  transition: opacity 0s, margin-left 0s;
}
header.top-nav .navbar .dropdown .dropdown-menu.show {
  transition: none;
  visibility: visible;
}
header.top-nav .navbar .dropdown .dropdown-menu.show .dropdown-item {
  opacity: 1;
  margin-left: 0;
  transition: opacity .5s, margin-left .5s;
}
header.top-nav .navbar .dropdown .dropdown-menu.show .navbar-menu-content .row {
  opacity: 1;
  transition: opacity .5s, margin-left .5s;
  width: 100%;
  padding: 0 0 30px;
}
header.top-nav .navbar .dropdown .dropdown-menu.show .navbar-menu-content .row.j-center {
  justify-content: center;
}
header.top-nav .navbar .dropdown.search [data-bs-toggle="dropdown"]:after {
  content: "";
}
header.top-nav .navbar .dropdown.search .dropdown-menu {
  min-height: inherit;
  top: 102%;
}
header.top-nav .navbar .dropdown.search a.nav-link {
  padding: 0;
  margin: 10px auto 0;
  width: 40px;
  text-align: center;
  display: inline-block;
}
header.top-nav .navbar .dropdown.search.show [data-bs-toggle="dropdown"]:after {
  content: "";
}
header.top-nav .navbar .dropdown.language-dropdown.show [data-bs-toggle="dropdown"]:after {
  content: "\f077";
}

[dir="rtl"] header.top-nav .navbar a.navbar-brand img {
  float: right;
}

header.home-nav {
  height: 100px;
}
header.home-nav .container {
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
header.home-nav .logo {
  height: 100px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
header.home-nav .logo img {
  filter: brightness(0) invert(1);
}
header.home-nav .navbar {
  margin-top: -80px;
  z-index: 1;
}
header.home-nav .navbar .dropdown .dropdown-menu {
  top: 140%;
}
header.home-nav .navbar .dropdown .dropdown-menu ul li {
  padding-left: 15px;
}
header.home-nav .navbar #magic-line {
  top: 75%;
}
header.home-nav .navbar .navbar-nav {
  justify-content: flex-end;
}

header.sticky .hamburger-menu .menu-item {
  background: var(--gsi-dark-blue);
}
header.sticky .logo img {
  filter: none;
}

header.top-nav.main-group .mobile-header-nav {
  height: 0;
  transition: height .5s;
}
header.top-nav.main-group .mobile-header-nav ul {
  transition: height .5s,visibility 0s,opacity .1s;
  visibility: hidden;
  height: 0;
  opacity: 0;
}
header.top-nav.main-group .mobile-header-nav.open {
  height: 100%;
}
header.top-nav.main-group .mobile-header-nav.open ul {
  transition: all 0s;
  visibility: visible;
  height: 100%;
  opacity: 1;
}
header.top-nav.main-group .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
header.top-nav.main-group .navbar .container {
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
header.top-nav.main-group .navbar .container .main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header.top-nav.main-group .navbar .container.top-menu > div {
  flex: 0 1 auto;
  width: 33%;
}
header.top-nav.main-group .navbar a.navbar-brand {
  width: 100%;
  padding: 0;
  margin: 0;
}
header.top-nav.main-group .navbar a.navbar-brand img {
  width: 200px;
}

@media (max-width: 992.97px) {
  header.top-nav .navbar a.navbar-brand.mobile-show img {
    filter: none;
  }
}
@media (min-width: 1200px) {
  header.top-nav .navbar .dropdown .dropdown-menu.show .navbar-menu-content .row {
    flex-flow: nowrap;
  }
}
@media (max-width: 480px) {
  header .header-cta-container .btn {
    width: 100%;
  }
}
@media (max-width: 991.9px) {
  header.top-nav.fixed-top {
    padding: 0;
    position: absolute;
    z-index: 99999;
  }

  header .header-cta-container {
    display: block;
  }
  header .navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 100% !important;
    height: 100%;
    background-color: #FFF;
  }
  header .navbar-collapse .navbar-nav {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
  }
  header .navbar-collapse .navbar-nav li.nav-item.active .nav-link {
    color: var(--gsi-dark-blue);
  }
  header .navbar-collapse .navbar-nav li.nav-item:last-child {
    order: -1;
  }
  header .navbar-collapse .navbar-nav li.nav-item .nav-link {
    color: var(--gsi-dark-blue);
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu {
    display: none;
    box-shadow: none;
    padding: 50px 0 0;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content {
    padding-bottom: 30px;
  }
}
@media (max-width: 991.9px) and (max-width: 767px) {
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content {
    height: 200px;
    overflow-y: auto;
  }
}
@media (max-width: 991.9px) {
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-container {
    padding: 0px 5px 0px 30px !important;
    flex-basis: auto;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-container h4 br {
    display: none;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .button-row {
    margin-top: 0;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .button-row .col {
    flex-basis: unset;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .btn {
    width: 90%;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col-md-6 {
    padding: 0 !important;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col-md-3 {
    padding: 0 !important;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .col {
    padding: 30px 5px 0px 30px !important;
    flex-basis: auto;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-image {
    display: none;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content .link-image.link-image-lg img {
    display: none;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.search-content .form-container .btn-search {
    right: 20px;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.login-content .col-md-6 {
    padding: 30px 5px 0px 30px !important;
    flex-basis: auto;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .navbar-menu-content.login-content .col-md-3 {
    padding: 30px 5px 0px 30px !important;
    flex-basis: auto;
  }
  header .navbar-collapse .navbar-nav li.nav-item .dropdown-menu .vertical-divider {
    display: none !important;
  }
  header .navbar-collapse .navbar-nav li.nav-item.show .dropdown-menu {
    display: unset;
  }
  header .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  header .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  header .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
  header .nav-bar-items .navbar-nav .nav-item .nav-link {
    font-size: 1.75rem;
    line-height: 1.1;
  }
  header .nav-bar-items .navbar-nav .nav-item .nav-link:hover {
    color: var(--gsi-aqua);
  }
}
@media (max-width: 991.9px) and (max-width: 767px) {
  header .nav-bar-items .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 991.9px) {
  header.top-nav .navbar #magic-line {
    display: none;
  }
  header.top-nav .navbar .dropdown [data-bs-toggle="dropdown"]:after {
    margin-top: 15px;
  }
  header.top-nav .navbar .nav-bar-items {
    padding-top: 150px;
    flex-direction: column-reverse;
    display: flex;
    justify-content: start;
    padding-top: 50px;
    align-items: self-start;
  }
  header.top-nav .navbar a.navbar-brand img {
    width: 200px;
  }
  header.top-nav .navbar-toggler {
    float: right;
    border: none;
    padding-right: 20px;
    padding-top: 0px;
  }
  header.top-nav .navbar-toggler:active {
    outline: none;
  }
  header.top-nav .navbar-toggler:focus {
    outline: none;
    border: 0;
    box-shadow: none;
  }
  header.top-nav .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #FFF;
    transition: all 300ms linear;
  }
  header.top-nav .navbar-light .navbar-toggler-icon:after {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #FFF;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
    top: 8px;
  }
  header.top-nav .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #FFF;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: var(--gsi-dark-blue);
  }
  header.top-nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: var(--gsi-dark-blue);
  }

  header.top-nav.sticky .navbar-light .navbar-toggler-icon {
    border-bottom: 2px solid var(--gsi-dark-blue);
  }
  header.top-nav.sticky .navbar-light .navbar-toggler-icon:after {
    background-color: var(--gsi-dark-blue);
  }
  header.top-nav.sticky .navbar-light .navbar-toggler-icon:before {
    background-color: var(--gsi-dark-blue);
  }
}
@media (min-width: 992.1px) {
  header.top-nav.main-group .hamburger-menu {
    padding: 35px 0;
  }
  header.top-nav.main-group .navbar .nav-bar-items {
    padding-left: 150px;
    width: unset;
  }
  header.top-nav.main-group .navbar .nav-bar-items li.left-menu {
    display: none;
  }
  header.top-nav.main-group .navbar .nav-bar-items li.dropdown:not(:first-child):not(:last-child) {
    padding: 0 20px;
  }

  [dir="rtl"] header.top-nav.main-group .hamburger-menu {
    float: right;
  }
  [dir="rtl"] header.top-nav .navbar .dropdown.language-selector .dropdown-menu {
    transform: translate(60%);
  }
}
@media (max-width: 992px) {
  header.top-nav.main-group .navbar .container.top-menu > div:first-child {
    display: none;
  }
}
html[lang=ar] header.top-nav .navbar .dropdown .dropdown-menu .navbar-menu-content .link-container li {
  text-align: right;
}
